{
    margin: 0;
    padding: 0;
}

html {
    background-color: #f8E0C8; 
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 140%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #E75480;
    background-color:rgb(255, 217, 198);
}
/* code I wrote for menu  */
#nav_menu ul {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
}
#nav_menu ul li { 
	float: left; 
	text-align: center;
	display: block;
	width: 25%;
	padding: 1em 0;
	text-decoration: none;
	background-color: #E75480;
}
#nav_menu ul li a {
    text-decoration: none; 
    color: rgb(255, 217, 198);
    font-weight: bold; 
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%; 
}
#nav_menu ul ul li { float: none; }
#nav_menu ul li:hover > ul {
    display: block; }
#nav_menu ul li.lastitem a {
	width: 178px; 
}
#nav_menu ul li a.current {
	color: rgb(255, 245, 226); 
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {background-color: #800000; }
#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
}

/* article, aside {margin-bottom: 1em; }
p {font-size: .875em; }
header { width: 100%; }
header h2 {
    font-size: 90%;
    color: #E75480;
    text-align: center;
    margin-left: 12.12121%; 
}
header h3 {
    font-size: 70%;
    font-style: italic;
    margin-left: 12.12121%;
}
header img{ 
    width: 8.0808%; 
    max-width: 80px;
    min-width: 40px;
    float: left; 
    margin-left: 2.0202%;  
}

section.home img {
    max-width: 100%; 
    min-width: 150px; 
} 
main li {
    color:#E75480;
}
article {
    width: 54.0404%;
    float: left;
    margin-left: 2.0202%;
    padding: 1.5em 2.52525% 0 0;
}
article h1 {font-size: 1.625em; }
article img {max-width: 100%; }
aside {
    width: 35.35353%;
    float: left;
    padding: 2.0202%;
    background-color: #ffebc6 
    margin: 1.5em 2.0202% 0 0; 
}
aside h2 {font-size: 1.25em; }
aside li {font-size: .875em; }
footer { width: 98.875%; }
footer p {
    font-size: .75em;
    text-align: right;
    margin-right: 2.0202%;
}
#copyright { font-size: 60%; }
@media only screen and (width <= 850px) {
    section.home, aside.home {
        float: none; 
        width: 100%;
    }
} */

/* the styles for the header */
header h2 {
	font-size: 175%;
	color: #E75480;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px;
}
.shadow {
	text-shadow: 2px 2px 2px #E75480;
}
/* the styles for the section */
section {
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;
}
section h2 {
	color: #E75480;
	font-size: 110%;
	padding: .5em 0 .25em 0;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
}
section li {
	padding-bottom: .35em;
}

/* the styles for the article */
article {
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article img {
	float: right;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}

/* the styles for the aside */
aside {
	width: 215px;
	float: right;
	padding: 0 0 20px 20px;
}
aside h2 {
	color: #E75480;
	font-size: 120%;
	padding: .5em 0 .25em 0;
}
aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}

/* the styles for the footer */
footer {
	background-color: #E75480;
	clear: both;

}
footer p {
	text-align: center;
	color: #f8E0C8;
	padding: 1em 0;
}
