{
    margin: 0;
    padding: 0;
}
html {
    background-color: #f8E0C8; 
}
/*added a font  and a favicon to the header */
@font-face {
	font-family: TypeWriter;
	src: url("atwriter.ttf");
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 140%;
    width: 100%;
    max-width: 1200px;   /*1024px */
    margin: 0 auto;
    border: 3px solid #E75480;
    background-color:rgb(255, 217, 198);
/* while creating fluid layout width was changed from 800 */
}
main {
    width: 83.333%;   /* 83.333% -- 800/960 x 100 */
    padding: 15px 1.5625%; /* 15/960 x 100 */
}
/*code for flex-box */
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color:#E75480;
	font-family: TypeWriter;
}
nav li {
    background: #E75480;
    padding: 15px;
    text-align: center;
}
/* changed the color per peer request */ 
a {
    text-decoration: none;
    color:#ffa74f; 
}
nav a {
	color:#ffc68d; 
}
header h2 {
	font-size: 175%;
	color: #E75480;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px;
}
.shadow {
	text-shadow: 2px 2px 2px #E75480;
}
/* the styles for the section */
section {
	width: 70%;   /* 54.6875% -- 525/960 x 100 */
	float: right;
	padding: 0 10px 10px 10px;                /*0 20px 20px 20px */
}
section h1 {
	font-family: TypeWriter;
	font-size: 130%;
	padding: .5em 0 .25em 0;
	margin: 0;
}
section h2 {
	color: #E75480;
	font-family: TypeWriter;
	font-size: 110%;
	padding: .5em 0 .25em 0;
	clear: both;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
}
section li {
	padding-bottom: .35em;
}

/* the styles for the article */
article {
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article img {
	float: right;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}

/* the styles for the aside */
aside {
	width: 22.395% ;  /* 215/960 x 100 */
	float: right;
	padding: 15px 1.5625%;
}
aside h2 {
	color: #E75480;
	font-size: 120%;
	padding: .5em 0 .25em 0;
	text-align: center;
}
aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}

/* the styles for the footer */
/*added icons from fontawesome to the footer */
footer {
	background-color: #E75480;
	clear: both;
    width: 96.875%; /* 930/960 x 100 */
    padding: 15px 1.5625%; 
}
footer p {
	text-align: center;
	color: #f8E0C8;
	padding: 1em 0;
}
footer h3 {
	text-align: center;
	color:#ffc68d; 
}
footer ul {
	color:#f8E0C8; 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color:#E75480;
	font-family: TypeWriter;
}
@media only screen and (width <= 574px) {
    body, aside {
        display: flex; 
        flex-direction: column;
        align-items: center;
		width: 95%; 
		text-align: left;
		padding: 1em 2.0202% 0; 
    }
}
