{
    margin: 0;
    padding: 0;
}

html {
    background-color: #f8E0C8; 
}
@font-face {
	font-family: TypeWriter;
	src: url("atwriter.ttf");
}
body {
    font-family: TypeWriter, Times, serif;
    font-size: 140%;
    width: 100%;
    max-width: 1200px;   /*1024px */
    margin: 0 auto;
    border: 3px solid #E75480;
    background-color:rgb(255, 217, 198);
/* while creating fluid layout width was changed from 800 */
}
main {
    width: 95%;   /* 83.333% -- 800/960 x 100 */
    padding: 15px 1.5625%; /* 15/960 x 100 */
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color:#E75480;
}
li {
    background: #E75480;
    padding: 15px;
    text-align: center;
}
a {
    text-decoration: none;
    color:#ffc68d; 
}
header h2 {
	font-size: 175%;
	color: #E75480;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px;
}
.shadow {
	text-shadow: 2px 2px 2px #E75480;
}

div {
    color: rgb(255,217,198); 
    text-align: center;
}

div img {
    padding: 20px 20px 20px 20px;
    width: 85%;
}

main{
    height: 1800px;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(4, 1fr);
    grid-gap: 20px 30px;
}
/*used a grid style because I like having the white border around my photos, reminds me of polaroids*/
#AA{
    background-color: white;
}

#AB{
    background-color: white;
}

#AC{
    background-color: white;
}

#AD{
    background-color: white;
}

#BA{
    background-color: white;
}

#BB{
    background-color: white;
}

#BC{
    background-color: white;
}

#BD{
    background-color: white;
}

#CA{
    background-color: white;
}

#CB{
    background-color: white;
}

#CC{
    background-color: white;
}

#CD{
    background-color: white;
}

#DA{
    background-color: white;
}

#DB{
    background-color: white;
}

#DC{
    background-color: white;
}

#DD{
    background-color: white;
}

#EA{
    background-color: white;
}

#EB{
    background-color: white;
}

#EC{
    background-color: white;
}

#ED{
    background-color: white;
}
#FA{
    background-color: white;
}

#FB{
    background-color: white;
}

#FC{
    background-color: white;
}

#FD{
    background-color: white;
}

/* the styles for the footer */
/*added icons from fontawesome to the footer */
footer {
	background-color: #E75480;
	clear: both;
    width: 96.875%; /* 930/960 x 100 */
    padding: 15px 1.5625%; 
}
footer p {
	text-align: center;
	color: #f8E0C8;
	padding: 1em 0;
}
footer h3 {
	text-align: center;
	color:#ffc68d; 
}
footer ul {
	color:#f8E0C8; 
}

/* I attempted to smake a media query to get the grid to cooperate at smaller sizes but couldn't quite figure it out */ 
@media only screen and (width <= 574px) {
    #AA, #AB, #AC, #AD {
        display: flex; 
        flex-direction: column;
        align-items: center;
		width: 95%; 
		padding: 1em 2.0202% 0; 
    }
    img {
        display:flex;
        flex-direction: column;
        width: 80%; 
    }
}